    h1 {
        text-align: center;
        border-color: rgb(241, 7, 7);
        border-style: dashed;
        border-width: px;
        background-color: rgb(242, 87, 183);
    }

    h2 {
        text-align: center;
        border-color: rgb(228, 11, 19);
        border-style: dashed;
        border-width: px;
        background-color: rgb(241, 171, 220);
    } 

    h3 {
        text-align: center;
        border-color: rgb(232, 57, 57);
        border-style: dashed;
        border-width: px;
        background-color: rgb(241, 178, 229);
    }

    h4 {
        text-align: center;
        border-color: rgb(239, 58, 58);
        border-style: dashed;
        border-width: px;
        background-color: rgb(233, 164, 217);
    }